nav .navbar {
   border-width: 0px;
   -webkit-box-shadow: 0px 0px;
   box-shadow: 0px 0px;
   background-color: rgba(0,0,0,0);
   position: fixed;
   color: rgba(0,0,0,0,1);
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
 }

.nav>li>a{
  color: ghostwhite;
  font-weight: bold;
}

.nav>li>a:hover{
background-color: rgba(255,255,255,0.15);

}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
background-color: rgba(255,255,255,0.15);

}

.navbar-nav>li>.dropdown-menu{
background-color: rgba(255,255,255,0.15);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
background-color: rgba(255,255,255,0.2);
color: ghostwhite;
font-weight: bold;
}


.dropdown-menu>li>a{
  background-color: rgba(255,255,255,0.0);
  color: ghostwhite;
  font-weight: bold;

}



.navbar ul li .market {
  width:2%;
}

img {
  width: 100%;
}
