

img.miniLogoWeBrew {
  width: 150px;
  left: 3%;
}

img.logoWeBrew {
    margin-left: -150px;
    position: absolute;
    width: 300px;
    margin-top: 50px;
    left: 50%;
}

img.fondonav {
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0 auto;
    border-bottom: 3vw;
}

form.form-horizontal {
    border: solid lightgrey 1px;
    padding: 3vw;
    padding-top:2vw ;
    max-width: 800px;
  }

.titulo h2 {
    font-size: 30px;
    padding-left: 8px;
}
